#app-suspended {
    z-index: 100;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app-suspended * {
    margin: 0;
    padding: 0;
}

#app-suspended .info-box {
    min-width: 320px;
}

#app-suspended .info-box .info-header {
    text-align: center;
    fill: #FF3D00;
    color: #FF3D00;
}

#app-suspended .info-box .info-header svg {
    margin-bottom: 24px;
}

#app-suspended .info-box .info-header h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
}

#app-suspended .info-box .info-header h6 {
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: 400;
    color: #282828;
}

#app-suspended .info-box .contact-info {
    padding: 8px 16px;
    background-color: #ffffff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}

#app-suspended .info-box .contact-info .info-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 8px;
}

#app-suspended .info-box .contact-info .info-row svg {
    display: inline-block;
    margin-right: 16px;
}

#app-suspended .info-box .contact-info .info-row p {
    display: inline-block;
    color: #626262;
    font-size: 12px;
}

#app-suspended .info-box .contact-info .info-row:first-child p {
    font-weight: bold;
}
