<!DOCTYPE html>
<html>
<head>
    <meta
        http-equiv="Content-type"
        content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <base
        href="/"/>
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta
        name="build-date"
        content="<%= htmlWebpackPlugin.options.timestamp %>">
    <base
        href="/">
</head>
<body>
    <script
        type="text/javascript"
        src="<%= htmlWebpackPlugin.files.chunks.run.entry %>"></script>
</body>
</html>
